<template></template>

<script>
export default {
  /* 
  1. 普通设置
  metaInfo:{
    title:''
  } 
  */
  // 2. 动态设置
  /*  metaInfo() {
    return {
      title: this.$page.post.title
    }
  } */
}
</script>

<style>
</style>